NEXT_PUBLIC_SUPABASE_URL=https://dmhujjpsrwnzjllidhzr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtaHVqanBzcnduempsbGlkaHpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1NzM2ODIsImV4cCI6MjA5MjE0OTY4Mn0.lBh12KeVzNvdCnK8Z8P5lvKkBfZPjtuxEFM9tN5So3M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtaHVqanBzcnduempsbGlkaHpyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjU3MzY4MiwiZXhwIjoyMDkyMTQ5NjgyfQ.WEGQhnXQReG5xr7QHOD7CFho3acGjAjat8LoChg9O1c
NEXT_PUBLIC_APP_URL=https://apurti-foods-app.vercel.app
